body {
  //color: #9c27b0 !important;
}

.preview {
  overflow-y: scroll;

  .sync-mark {
    background-color: #fe3;
  }

  //display: flex;
  flex-direction: row;
  height: 100%;
  align-content: stretch;
}

.main{
  height: 100%;
  //overflow-y: scroll;
  margin-right: 250px;
  display: flex;
  justify-content: center;
}
.markdown-body {
  //margin-right: 250px;
  max-width: 960px;
  margin: 20px 20px;
  flex: 1 0;
  padding: 10px 5px;
  min-height: 0;
  width: 100%;
}


#toc {
  position: fixed;
  display:flex;
  align-items: flex-start;
  width: 250px;
  top: 0px;
  z-index: 2;
  right:2px;
  ul{
    padding-left: 2px;
    list-style: none;
  }
  li ul{
    margin-left: 12px;
  }
  a{
    text-decoration: none;
    color: #444;
  }

}

/*
* .electron-in-page-search-window is a class specified to default
* <webview> element for search window.
*/
.electron-in-page-search-window {
  position: fixed;
  top: 0;
  right: 0;
  border: solid grey 1px;
  background-color: white;
  width: 300px;
  height: 36px;
}

/*
* .search-inactive is added to search window <webview> when the window
* is inactive.
*/
.search-inactive {
  visibility: hidden;
}

/*
* .search-inactive is added to search window <webview> when the window
* is active.
*/
.search-active {
  visibility: visible;
}

/* markdown extension */
.r{
  color: red;
}
.b{
  color: blue;
}
.g{
  color: green;
}
.by{
  background-color: yellow;
}
.bg{
  background-color: green;
}

em {
  &.r,&.b,&.g,&.by,&.bg{
    font-style: normal;
  }
}

.theorem{
  & > p:first-child::before {
    content: "Theorem: ";
    font-weight: bold;
  }
}